@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}

@plugin "daisyui/theme" {
    name: light;
    default: true;
    --color-primary: #CAEB66;
    --color-secondary: #03373D;
}

.font-urbanist {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.text-black-8 {
    color: #606060;
}

.text-black-12 {
    color: #1F1F1F;
}

.text-green-8 {
    color: #8FA748;
}

.text-zinc-500 {
    color: #71717A;
}

.bg-black-12 {
    background-color: #1F1F1F;
}

.bg-black-13 {
    background-color: #0B0B0B;
}

.bg-green-1 {
    background-color: #FAFDF0;
}

.border-blue-9 {
    border-color: #03464D;
}